	<div class="content-wrapper">
	<div class="container-fluid">
	<div class="Dlabel" align="center">
				
					<label>Registro de Sucursal</label>	
					
				
	</div>
	<form name="form" ng-submit="EnviarFormulario()">
			<article class="post clearfix">
		<div class="row">
			<div class="col-md-1"></div>
				<div class="col-md-4">
				<br> Nombre: <input type="text" class="form-control" ng-model="sucursal.nombre" required>
					<br> Ubicacion: <input type="text" class="form-control" ng-model="sucursal.ubicacion" required>
					<br> Domicilio: <input type="text" class="form-control" ng-model="sucursal.domicilio" required>
					<br> Telefono: <input type="text" class="form-control" ng-model="sucursal.telefono" required>
				</div>
				<div class="col-md-4">
		
				
					
					<br> CURP: <input type="text" class="form-control" ng-model="sucursal.curp" required>
					<br> RFC: <input type="text" class="form-control" ng-model="sucursal.rfc" required>
					<br> Titular: <input type="text" class="form-control" ng-model="sucursal.titular" required>
					
					
					
					
					
					<br> <br>  
					<button type="submit" value="Guardar" class="btn" >
						Guardar</button>
					<button type="submit" value="Limpiar" class="btn">Limpiar</button>
				
			
			<nav>
				<div class="center-blog"></div>
			</nav>
		
	</div>
	
	</div>
	</article>
	</form>
	<div id="snackbar">Sucursal Guardada Correctamente</div>
	</div>
</div>