
<div class="content-wrapper">
	<div class="container-fluid">
		<div class="Dlabel" align="center">

			<label>Registro de Paquete</label>


		</div>
		<div class="topBanner">
<div class="row">
			<br>
			<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Cliente </label>
								<div class="col-23">
									<label id ="Named" ng-model="paqueteria.cliente">Jose Manuel Lopez (DEMO)</label>
								</div>
							</div>
						</div>
			<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Fecha </label>
								<div class="col-23">
									<label id ="fecha" ng-model="paqueteria.fecha">{{CurrentDate | date: "longDate"}}</label>
								</div>
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-10 col-form-label">
									Numero de Envio </label>
								<div class="col-23">
									<input type="number" class="form-control"  required>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Guia</label>
								<div class="col-15">
									<input type="number" class="form-control" ng-model="paqueteria.guia" required>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Rastreo</label>
								<div class="col-15">
									<input type="number" class="form-control" ng-model="paqueteria.rastreo" required>
								</div>
							</div>
						</div>
			</div>
		</div>
		<button class="tablink" onclick="openPage('paq', this,'green')"
			id="defaultOpen">Paquete</button>
		<button class="tablink" onclick="openPage('dest', this,'green')">Destinatario</button>
		<button class="tablink">
			<br>
		</button>
		<button class="tablink">
			<br>
		</button>
<form name="form" ng-submit="EnviarFormulario()">
				<article class="post clearfix">
		<div id="paq" class="tabcontent">
			
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-4">
							<br> <label>Cantidad: </label><input type="number" class="form-control"
								ng-model="paqueteria.cantidad" required> <br>
							<label>Descripcion:</label> <input type="text" class="form-control"
								ng-model="paqueteria.descripcion" required> <br> 
								<label> Tipo de Paquete: </label><select class="form-control" ng-model="paqueteria.tipoPaquete"
										required>
										<option></option>
										<option>PAQUETE</option>
										<option>SOBRE</option>
										
										</select>
						</div>

						<div class="col-md-4">
						
							<br><label>Tipo de Envio:</label> <select class="form-control" ng-model="paqueteria.tipoEnvio"
										required>
										<option></option>
										<option>EXPRESS</option>
										<option>DIA SIG.</option>
										<option>OTRO</option>
										
										</select>
						</div>
					</div>
					<br> <br>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-1">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-2 col-form-label">Medidas (cm):</label>

							</div>
						</div>
						<div class="col-md-1">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Largo </label>
								<div class="col-13">
									<input type="number" step="0.01" class="form-control"
										ng-model="paqueteria.largo" required>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Ancho </label>
								<div class="col-13">
									<input type="number" step="0.01" class="form-control"
										ng-model="paqueteria.ancho" required>
								</div>
							</div>
						</div>
						<div class="col-md-1">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Alto </label>
								<div class="col-13">
									<input type="number" step="0.01" class="form-control"
										ng-model="paqueteria.alto" required>
								</div>
							</div>
						</div>
					</div>

					<!-- 				###########	 -->

					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-2">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-2 col-form-label">Peso:</label>
								<div class="col-10">
									<input type="text" class="form-control"
										ng-model="paqueteria.peso" required>
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-2 col-form-label"> Empresa </label>
								<div class="col-10">
									<select class="form-control" ng-model="paqueteria.empresa"
										required>
										<option></option>
										<option>DHL</option>
										<option>UPS</option>
										<option>FeDex</option>
										
										</select>
								</div>
							</div>
						</div>

						<br> <br>
					</div>
					<div class="row">
					<div class="col-md-1"></div>
						<div class="col-md-2">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-2 col-form-label">Total</label>
								<div class="col-10">
									<input type="number" class="form-control"
										ng-model="paqueteria.total" step="0.01" required>
								</div>
							</div>
						</div>

					</div>
					

<!-- 					<nav> -->
<!-- 						<div class="center-blog"></div> -->
<!-- 					</nav> -->



			
		</div>

<!-- #######DESTINATARIO###### -->

<div id="dest" class="tabcontent">
	
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-4">
							<br> <label>Nombre: </label><input type="text" class="form-control"
								ng-model="paqueteria.Nombre" required> <br>
							<label>Apellido Paterno:</label> <input type="text" class="form-control"
								ng-model="paqueteria.aPaterno" required> 
							<br> <label>Apellido Materno: </label><input type="text" class="form-control"
								ng-model="paqueteria.aMaterno" required> 
							<br> <label>Telefono: </label><input type="text" class="form-control"
								ng-model="paqueteria.telefono" required>
								<br> <label>Localidad: </label><input type="text" class="form-control"
								ng-model="paqueteria.localidad" required>
								<br> <label>Municipio: </label><input type="text" class="form-control"
								ng-model="paqueteria.municipio" required>
						</div>

						<div class="col-md-4">
						<br> <label>Estado: </label><input type="text" class="form-control"
								ng-model="paqueteria.estado" required>
						<br> <label>CP: </label><input type="number" class="form-control"
								ng-model="paqueteria.codigoPostal" required>
						<br><label>Calle:</label> <input type="text" class="form-control"
								ng-model="paqueteria.calle" required> 
						<br><label>No. Ext:</label> <input type="text" class="form-control"
								ng-model="paqueteria.noExterior" required> 
						<br><label>No. Int:</label> <input type="text" class="form-control"
								ng-model="paqueteria.noInterior"> 	
						<br><label>Colonia:</label> <input type="text" class="form-control"
								ng-model="paqueteria.colonia" required> 
						</div>
					</div>
					<br> <br>
					


						<br> <br>
					
				

<!-- 					<nav> -->
<!-- 						<div class="center-blog"></div> -->
<!-- 					</nav> -->



				
</div>
<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-4">
						<button type="submit" value="Guardar" class="btn">
							Guardar</button>
						<button type="submit" value="Limpiar" class="btn">Limpiar</button>
						</div>
					</div>
</article>
			</form>
				<div id="snackbar">Sucursal Guardada Correctamente</div>
	</div>
</div>

<script>
	function openPage(pageName, elmnt, color) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("tablink");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].style.backgroundColor = "";
		}
		document.getElementById(pageName).style.display = "block";
		elmnt.style.backgroundColor = color;

	}
	// Get the element with id="defaultOpen" and click on it
	document.getElementById("defaultOpen").click();
	
	window.addEventListener("contextmenu", function(event){
	    event.preventDefault();
	}, false);
</script>

