
<div class="content-wrapper" lang="es-mx" ng-cloak>
	<div class="container-fluid">

<div class="topBanner rounded-bottom">
<br>
	<div class="row">
	<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Numero de Envio"
					ng-model="buscar.guia">
				<div class="input-group-btn">
					<button class="btn btn-info" type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
				
			</div>
		</div>
<div class="col-md-3"></div>

	</div>
	<br>
		</div>
		
<!-- FIN TOP -->
    
<!--     <div class="container"> -->
    
    <br>
		<table class="table .table-striped">
			<thead>
				<tr>
					<th width="5%"></th>
					<th width="10%">Folio</th>
					
					<th width="25%">Guia</th>
					<th width="10%">Rastreo</th>
					<th width="10%">Precio</th>
					<th width="10%">Empresa</th>
					<th width="10%">Tipo de Envio</th>
					<th width="10%">Tipo Paquete</th>
					<th width="10%">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="e in envios">
					<td></td>
					<td>{{e.folio}}</td>
					
					<td>{{e.guia}}</td>
					<td>{{e.rastreo}}</td>
					<td>{{e.precio | currency}}</td>
					<td>{{e.empresa}}</td>
					<td>{{e.tipoEnvio}}</td>
					<td>{{e.paquete.tipoPaquete}}</td>
					<td HEIGHT="50"><button class="btn btn-success" ng-click="ver(g)" title="Asignar Sucursal" data-toggle="modal" data-target="#modalAsignar" ng-if="g.estatus=='NO ASIGNADA'" >
							<i class="fa fa-building-o"></i>
						</button>
						
						<button class="btn btn-danger" title="Imprimir" ng-click="generaPDF(e.id)">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						
						<button class="btn btn-warning" ng-click="cancelar(g)" title="Cancelar" ng-if="g.estatus!='CANCELADA'">
							<i class="fa fa-trash"></i>
						</button>
<!-- 						<a class="btn btn-info" data-toggle="tooltip" -->
<!-- 							title="Imprimir OT" -->
<!-- 							href=" ots/descargaOt/{{ot.id}}" download="ordenDeTrabajo.pdf"> -->
<!-- 							<i class="glyphicon glyphicon-print"></i> -->
<!-- 						</a>	 -->
					</td>
				</tr>
			</tbody>	
		</table>
    
<!--     </div> -->
    
<!--    MODAL AGREGAR GUIA -->
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Rango de Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">De</label>
            <input class="form-control" id="exampleInputEmail1" type="text" placeholder="Ingresar Inicio Guia" ng-model="de">
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Hasta</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="Ingresar Fin Guia" ng-model="hasta">
          </div>
          
          <a class="btn btn-success btn-block" ng-click="addguias(de,hasta)">Agregar</a>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--     MODAL ASIGNAR GUIA -->

    <div class="modal fade" id="modalAsignar" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Numero de Guia</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  ng-model="guia.numero" readonly>
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Estado</label>
            <input class="form-control" id="exampleInputEmail1" type="text"   ng-model="guia.estatus" readonly>
          </div>
          
           <div class="form-group">
            <label for="exampleInputEmail1">Sucursal Actual</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="No hay Sucursal Asignada" ng-model="guia.sucursal" readonly>
          </div>
          <br><br>
           <div class="form-group">
            <label for="exampleInputEmail1">Nueva Sucursal</label>
            <select class="form-control" ng-model="addsuc.idSucursal"
										required>
										<option ng-repeat="s in sucursal" value="{{s.id}}" ng-if="s.nombre!='MASTER'">{{s.nombre}}</option>
										
										</select>
          </div>
          <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" ng-click="asignar(addsuc.idSucursal,guia.id)" >Asignar</a>
          </div>
          </div>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>

	
	</div>




