
<div class="content-wrapper" lang="es-mx" ng-cloak>
	<div class="container-fluid">

<div class="topBanner rounded-bottom">
<br>
	<div class="row">
	<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Numero de Guia"
					ng-model="buscar.guia">
				<div class="input-group-btn">
					<button class="btn btn-info" type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
				
			</div>
		</div>
<div class="col-md-3"></div>
		<div class="col-md-1">
		 <button type="button" class="btn btn-info " data-toggle="modal" data-target="#myModal">Agregar Guias</button>
<!-- 		<button class="btn btn-small" ng-click="verTodo()">Ver Todo </button> -->
						
		</div>
		
		<div class="col-md-1">
		 <button type="button" class="btn btn-info " data-toggle="modal" data-target="#modalAsignarMasivo">Asignar</button>
<!-- 		<button class="btn btn-small" ng-click="verTodo()">Ver Todo </button> -->
						
		</div>

	</div>
	<br>
		</div>
		
<!-- FIN TOP -->
    
<!--     <div class="container"> -->
    
    <br>
		<table class="table">
			<thead>
				<tr>
					<th width="10%"></th>
					<th width="20%">DE</th>
					<th width="20%">HASTA</th>
					<th width="10%">ESTATUS</th>
					<th width="20%">SUCURSAL</th>
					<th width="10%">TIPO DE GUIA</th>
					<th width="10%">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="g in guias" class="{{g.clase}}">
					<td></td>
					<td>{{g.inicia}}</td>
					<td>{{g.termina}}</td>
					<td>{{g.estatus}}</td>
					<td>{{g.sucursal}}</td>
					<td>{{g.tipoGuia}}</td>
					<td HEIGHT="50">
<!-- 					<button class="btn btn-success" ng-click="ver(g)" title="Asignar Sucursal" data-toggle="modal" data-target="#modalAsignar" ng-if="g.estatus=='NO ASIGNADA'" > -->
<!-- 							<i class="fa fa-building-o"></i> -->
<!-- 						</button> -->
						
						
						<button class="btn btn-warning" ng-click="cancelar(g)" title="Cancelar" ng-if="g.estatus!='CANCELADA'">
							<i class="fa fa-trash"></i>
						</button>
<!-- 						<a class="btn btn-info" data-toggle="tooltip" -->
<!-- 							title="Imprimir OT" -->
<!-- 							href=" ots/descargaOt/{{ot.id}}" download="ordenDeTrabajo.pdf"> -->
<!-- 							<i class="glyphicon glyphicon-print"></i> -->
<!-- 						</a>	 -->
					</td>
				</tr>
			</tbody>	
		</table>
    
<!--     </div> -->
    
<!--    MODAL AGREGAR GUIA -->
     <div class="modal fade" id="myModal" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Rango de Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form name="formMasive">
          <div class="form-group">
            <label id="idDe">De</label>
            <input class="form-control" id="de" type="text" placeholder="Ingresar Inicio Guia" ng-model="de"  ng-change="validate('de')" required>
          </div>
       
         <div class="form-group">
            <label id="idHasta">Hasta</label>
            <input class="form-control" id="hasta" type="text"  placeholder="Ingresar Fin Guia" ng-model="hasta"  required ng-change="validate('hasta')">
          </div>
          
          <div class="form-group">
            <label> Tipo de Guia </label>
							
									<select class="form-control" ng-model="tipoGuia"
										required>
										<option>1Kg Sobre Sig Dia</option>
										<option>1Kg Paquete Sig Dia</option>
										<option>11:30 Sig Dia</option>
										<option>11:30 Sobre Sig Dia</option>
										<option>3Kg Sig Dia</option>
										<option>5Kg Terrestre</option>
										<option>10Kg Terrestre</option>
										<option>15Kg Terrestre</option>
										<option>20Kg Terrestre</option>
										<option>25Kg Terrestre</option>
										<option>30Kg Terrestre</option>
										<option>35Kg Terrestre</option>
										<option>40Kg Terrestre</option>
										<option>45Kg Terrestre</option>
										
										
										</select>
          </div>
          
          <a class="btn btn-success btn-block" ng-disabled="btnGuardar" ng-click="formMasive.$valid && addguias(de,hasta)">Agregar</a>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="clearGuia()">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--   ASIGNAR GUIAS MASIVAS -->
       <div class="modal fade" id="modalAsignarMasivo" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Guias</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">De</label>
            <input class="form-control" id="exampleInputEmail1" type="text" placeholder="Ingresar Inicio Guia" ng-model="addM.inicio">
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Hasta</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="Ingresar Fin Guia" ng-model="addM.fin">
          </div>
          <br><br>
           <div class="form-group">
            <label for="exampleInputEmail1">Sucursal a Asignar</label>
            <select class="form-control" ng-model="addM.idSucursal"
										required>
										<option ng-repeat="s in sucursal" value="{{s.id}}" ng-if="s.nombre!='MASTER'">{{s.nombre}}</option>
										
										</select>
          </div>
          <a class="btn btn-success btn-block" ng-click="addMasives()">Agregar</a>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--     MODAL ASIGNAR GUIA -->

    <div class="modal fade" id="modalAsignar" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Numero de Guia</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  ng-model="guia.numero" readonly>
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Estado</label>
            <input class="form-control" id="exampleInputEmail1" type="text"   ng-model="guia.estatus" readonly>
          </div>
          
           <div class="form-group">
            <label for="exampleInputEmail1">Sucursal Actual</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="No hay Sucursal Asignada" ng-model="guia.sucursal" readonly>
          </div>
          <br><br>
           <div class="form-group">
            <label for="exampleInputEmail1">Nueva Sucursal</label>
            <select class="form-control" ng-model="addsuc.idSucursal"
										required>
										<option ng-repeat="s in sucursal" value="{{s.id}}" ng-if="s.nombre!='MASTER'">{{s.nombre}}</option>
										
										</select>
          </div>
          <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" ng-click="asignar(addsuc.idSucursal,guia.id)" >Asignar</a>
          </div>
          </div>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>

	
	</div>




