
<div class="content-wrapper" lang="es-mx">
	<div class="container-fluid">

<div class="topBanner rounded-bottom">
<br>
	<div class="row">
	<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Numero de Guia"
					ng-model="buscar.guia">
				<div class="input-group-btn">
					<button class="btn btn-info" type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
				
			</div>
		</div>
<div class="col-md-3"></div>
		<div class="col-md-3">
		 <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Agregar Guias</button>
<!-- 		<button class="btn btn-small" ng-click="verTodo()">Ver Todo </button> -->
						
		</div>


	</div>
	<br>
		</div>
		
<!-- FIN TOP -->
    
<!--     <div class="container"> -->
    
    <br>
		<table class="table .table-striped">
			<thead>
				<tr>
					<th width="10%"></th>
					<th width="20%">Numero</th>
					<th width="10%">Estatus</th>
					<th width="40%">Sucursal</th>
					<th width="20%">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="g in guias">
					<td></td>
					<td>{{g.numero}}</td>
					<td>{{g.estatus}}</td>
					<td>{{g.idSucursal}}</td>
					<td><button class="btn btn-success" ng-click="ver(g)" title="Asignar Sucursal" data-toggle="modal" data-target="#modalAsignar">
							<i class="fa fa-building-o"></i>
						</button>
						
						<button class="btn btn-danger" title="Imprimir">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						
						<button class="btn btn-warning" title="Cancelar">
							<i class="fa fa-trash"></i>
						</button>
<!-- 						<a class="btn btn-info" data-toggle="tooltip" -->
<!-- 							title="Imprimir OT" -->
<!-- 							href=" ots/descargaOt/{{ot.id}}" download="ordenDeTrabajo.pdf"> -->
<!-- 							<i class="glyphicon glyphicon-print"></i> -->
<!-- 						</a>	 -->
					</td>
				</tr>
			</tbody>	
		</table>
    
<!--     </div> -->
    
<!--    MODAL AGREGAR GUIA -->
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Rango de Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">De</label>
            <input class="form-control" id="exampleInputEmail1" type="text" placeholder="Ingresar Inicio Guia" ng-model="de">
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Hasta</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="Ingresar Fin Guia" ng-model="hasta">
          </div>
          
          <a class="btn btn-success btn-block" ng-click="addguias(de,hasta)">Agregar</a>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--     MODAL ASIGNAR GUIA -->

    <div class="modal fade" id="modalAsignar" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Numero de Guia</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  ng-model="guia.numero" readonly>
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Estado</label>
            <input class="form-control" id="exampleInputEmail1" type="text"   ng-model="guia.estatus" readonly>
          </div>
          
           <div class="form-group">
            <label for="exampleInputEmail1">Sucursal Actual</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="No hay Sucursal Asignada" ng-model="guia.idSucursal" readonly>
          </div>
          <br><br>
           <div class="form-group">
            <label for="exampleInputEmail1">Nueva Sucursal</label>
            <select class="form-control" ng-model="addsuc.idSucursal"
										required>
										<option>Repetir las sucursales</option>
										
										</select>
          </div>
          <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" >Asignar</a>
          </div>
          </div>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>

  </div>

	
	</div>




