<div class="content-wrapper">
	<div class="container-fluid">
<div class="topBanner rounded-bottom">
<br>
	<div class="row">
	<div class="col-md-1" align="center"><label>Usuarios</label></div>


	</div>
	<br>
		</div>
		
<!-- FIN TOP -->
    
<!--     <div class="container"> -->
    
    <br><br><br>
    <div class="row">
		<section class="posts col-md-6">
			
	
	
	<div>
		<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Usuario</th>
								<th>Perfil</th>
								<th>Sucursal</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="usuario in usuariosLista" ng-if="usuario.usuario!='root'">
								<td>{{usuario.usuario}}</td>
								<td><select ng-model="usuario.perfil">
										<option>Administrador</option>
										<option>Cajero</option>
									</select></td>
								<td><div ng-if="hide">{{sucFunc(usuario.idSucursal)}}</div>
								<div ng-if="!hide">
								<button type="button" class="btn btn-link"
										ng-click="showSelect(true)" style="color:black;">{{sucFunc(usuario.idSucursal)}}</button></div>
										<div ng-if="hide">
								<select ng-model="usuario.idSucursal" ng-change="showSelect(false)">
										<option ng-repeat="s in sucursal" ng-if="s.nombre!='MASTER'"value="{{s.id}}">{{s.nombre}}</option>
									</select> </div>
									</td>
								<td><button type="button" class="btn btn-success"
										ng-click="updateUser(usuario)">Actualizar</button>
										<button type="button" class="btn btn-danger"
										ng-click="eliminarUsuario(usuario)">Eliminar</button>
										<button type="button" class="btn btn-link" ng-click="newPsw(usuario)">Cambiar Contraseña</button>
										</td>
										
							</tr>
						</tbody>
					</table>
					</div>

	</section>
	</div>
<!-- 	MODAL NUEVA CONTRASEÑA -->
	   <div class="modal fade" id="modalnewPsw" role="dialog" >
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Nueva Contraseña</h4>
        </div>
        <div class="modal-body">
        
        Contrase&ntilde;a: <input type="password"
						class="form-control" name="pass" id="pass"
						title="La contrase&ntilde;a debe contener al menos 8 caracteres, incluidos MAYUSCULAS / minusculas y almenos un numero"
						ng-model="user.password"
						ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*)[A-Za-z\d]{8,}$/"
						required ng-change="validatePass()">
										
					<br>Confirmar Contrase&ntilde;a: <input type="password"
						class="form-control" name="passconfirm" id="passconfirm"
						ng-model="user.passconfirm"
						ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*)[A-Za-z\d]{8,}$/"
						required ng-change="validatePass()">
        <br><label ng-show="!form.pass.$valid">Debe contener 8 car&aacute;cteres, m&iacute;nimo, una may&uacute;scula, una min&uacute;scula y un n&uacute;mero.</label>
        </div>
         <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" ng-click="actualizarpsw(user.password)" ng-disabled="!IsMatchP" >Actualizar</a>
          </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- 	FIN DE MODAL NUEVA CONTRASEÑA -->
	</div>
</div>