<div class="content-wrapper">
	<div class="container-fluid">
<div class="topBanner rounded-bottom">
<br>
	<div class="row">
	<div class="col-md-1" align="center"><label>Usuarios</label></div>


	</div>
	<br>
		</div>
		
<!-- FIN TOP -->
    
<!--     <div class="container"> -->
    
    <br><br><br>
    <div class="row">
		<section class="posts col-md-6">
			
	
	
	<div>
		<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Usuario</th>
								<th>Perfil</th>
								<th>Sucursal</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="usuario in usuariosLista" ng-if="usuario.usuario!='root'">
								<td>{{usuario.usuario}}</td>
								<td><select ng-model="usuario.perfil">
										<option>Administrador</option>
										<option>Cajero</option>
									</select></td>
								<td><select ng-model="usuario.idSucursal">
										<option ng-repeat="s in sucursal" ng-if="s.nombre!='MASTER'" value="{{s.id}}">{{s.nombre}}</option>
									</select> </td>
								<td><button type="button" class="btn btn-success"
										ng-click="actualizarUsuario(usuario)">Actualizar</button>
										<button type="button" class="btn btn-danger"
										ng-click="eliminarUsuario(usuario)">Eliminar</button></td>
							</tr>
						</tbody>
					</table>
					</div>

	</section>
	</div>
	
	</div>
</div>