
<div class="content-wrapper" lang="es-mx" ng-cloak>
	<div class="container-fluid">

<div class="topBanner rounded-bottom">
<br>
	<div class="row">
	<div class="col-md-1"></div>
		<div class="col-md-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Numero de Envio"
					ng-model="buscar.guia">
				<div class="input-group-btn">
					<button class="btn btn-info" type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</div>
				<div class="col-md-3"></div>
		<div class="col-md-3" ng-if="perfil !='Administrador'">
		 <button type="button" class="btn btn-info " ng-click="generarFolio()" >Agregar Venta</button>
<!-- 		<button class="btn btn-small" ng-click="verTodo()">Ver Todo </button> -->
						
		</div>
			</div>
		</div>
<div class="col-md-3"></div>

	</div>
	<br>
		</div>
		
<!-- FIN TOP -->
    
<!--     <div class="container"> -->
    
    <br><div align="center">
      	<div class="row">
        <div class="col-md-2"></div>	
		<div class="col-md-6">
			<div class="col-md-10">
				<div class="input-group input-daterange">
					<input type="text" class="form-control" ng-model="fechaInicio">
					<div class="input-group-addon"> - </div>
					<input type="text" class="form-control" ng-model="fechaFin">
				</div>
			</div>
			<div class="col-md-2">
				<a class="btn btn-small btn-success report" data-toggle="tooltip" href="{{'/venta/generaReporteXls_/'+fechaInicio+'/'+fechaFin+'/'+usuario}}" download="ReporteVenta_{{fechaInicio}}_A_{{fechaFin}}.xls">
				<i class="fa fa-file-excel-o fa-lg"></i>
					Descargar Reporte
				</a>
			</div>
		</div>

	</div>
	</div><br><br>
		<table class="table .table-striped">
			<thead>
				<tr>
					<th width="1%"></th>
					<th width="10%">Folio</th>
					<th width="10%">Fecha</th>
					<th width="10%">Cantidad</th>
					<th width="10%">Sucursal</th>
					<th width="10%">Estatus</th>
					<th width="10%">Acciones</th>
					<th width="10%">Factura</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="v in ventas">
					<td></td>
					<td><b>{{v.folio}}</b></td>
					
					<td>{{v.fecha | date}}</td>
					<td>{{v.cantidad}}</td>
					<td>{{showSuc(v.idSucursal)}}</td>
					<td>{{v.estatus}}</td>
					<td HEIGHT="50"><button class="btn btn-success" ng-click="prePaquete(v.id)" title="Agregar Envio" ng-if="v.estatus !='FACTURADA' && perfil !='Administrador'">
							<i class="fa fa-plus"></i>
						</button>
						<button class="btn btn-info" ng-click="ver(v)" title="Ver Detalles" ng-disabled="v.cantidad==0">
							<i class="fa fa-eye"></i>
						</button>
						<button class="btn btn-danger" title="Imprimir" ng-click="showPDF(v.id)">
							<i class="fa fa-file-pdf-o"></i>
						</button>
						
						<button class="btn btn-warning" ng-click="eliminarVenta(v)" title="Eliminar Venta" ng-if="v.estatus !='FACTURADA' && perfil !='Administrador'">
							<i class="fa fa-trash"></i>
						</button>
<!-- 						<a class="btn btn-info" data-toggle="tooltip" -->
<!-- 							title="Imprimir OT {{usuario}}" -->
<!-- 							href="venta/generaTicket/{{v.id}}/{{usuario}}" target="_blank"> -->
<!-- 							<i class="glyphicon glyphicon-print"></i> -->
<!-- 						</a>	 -->
					</td>
					<td><button class="btn btn-info" ng-click="preFacturar(v)" title="Facturar" ng-disabled="v.cantidad==0" ng-if="v.estatus !='FACTURADA' && perfil !='Administrador'">
							<i class="glyphicon glyphicon-list-alt"></i>
						</button>
							<a class="btn btn-danger" data-toggle="tooltip" ng-if="v.uuid"
							title="Descargar PDF"
							href="factura/pdfFactura/{{v.uuid}}" download="Factura-{{v.uuid}}.pdf">
							<i class="fa fa-file-pdf-o"></i>
							</a>
							<a class="btn btn-success" data-toggle="tooltip" ng-if="v.uuid"
							title="Descargar XML"
							href="factura/xmlDescarga/{{v.uuid}}" download="Factura-{{v.uuid}}.xml">
							<i class="fa fa-file-excel-o"></i>
							</a>
							<button class="btn btn-warning" ng-click="preCancelar(v.id)" title="Cancelar Facturar" ng-if="v.uuid && v.estatus != 'FACTURA-CANCELADA' && perfil !='Administrador'">
							<i class="fa fa-times"></i>
						</button>
						</td>
				</tr>
			</tbody>	
		</table>
    
<!--     </div> -->
    
<!--    MODAL AGREGAR GUIA -->
     <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Rango de Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form name="MultiAdd">
          <div class="form-group">
            <label for="exampleInputEmail1">De</label>
            <input class="form-control" id="exampleInputEmail1" name="de" type="text" placeholder="Ingresar Inicio Guia" ng-model="de" minlength=15 required>
            <span ng-show="">required</span>
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Hasta</label>
            <input class="form-control" id="exampleInputEmail1" name="hasta" type="text"  placeholder="Ingresar Fin Guia" ng-model="hasta" minlength=15 required>
          </div>
          
          <a class="btn btn-success btn-block" ng-click="MultiAdd.$valid && addguias(de,hasta)">Agregar</a>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--     MODAL ASIGNAR GUIA -->

    <div class="modal fade" id="modalAsignar" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Asignar Guia</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Numero de Guia</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  ng-model="guia.numero" readonly>
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Estado</label>
            <input class="form-control" id="exampleInputEmail1" type="text"   ng-model="guia.estatus" readonly>
          </div>
          
           <div class="form-group">
            <label for="exampleInputEmail1">Sucursal Actual</label>
            <input class="form-control" id="exampleInputEmail1" type="text"  placeholder="No hay Sucursal Asignada" ng-model="guia.sucursal" readonly>
          </div>
          <br><br>
           <div class="form-group">
            <label for="exampleInputEmail1">Nueva Sucursal</label>
            <select class="form-control" ng-model="addsuc.idSucursal"
										required>
										<option ng-repeat="s in sucursal" value="{{s.id}}" ng-if="s.nombre!='MASTER'">{{s.nombre}}</option>
										
										</select>
          </div>
          <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" ng-click="asignar(addsuc.idSucursal,guia.id)" >Asignar</a>
          </div>
          </div>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Close</button>
        </div>
      </div>
    </div>
  </div>
  
<!--   MODAL ALTA Envio -->
   <div class="modal fade" id="modalEnvio" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content ">
        <div class="modal-header">
          
          <h4 class="modal-title" align="center">Registrar Envios</h4>
          <button type="button" class="close" data-dismiss="modal" ng-click="cleanMdl(); ">&times;</button>
        </div>
        <div class="modal-body">
          <form id="altaPaquete" name="myForm">
<!--   <h3>Destinatario:</h3> -->
  <!-- One "tab" for each step in the form:--> 

  <div class="tab">
  <h3 align="center">Envio</h3>
  	<div class="row">
							<div class="col-md-3">
							
								 <label> Empresa </label>
							
									<select class="form-control" ng-model="paquete.empresa" ng-change="isEstafeta()"
										required>
										<option>MERVEL</option>
										<option>DHL</option>
										<option>UPS</option>
										<option>FEDEX</option>
										<option>ESTAFETA</option>
										
										</select>
										
								</div>
								
							
							
						
						<div class="col-md-3">
						 <label> Kilataje </label>
							
									<select class="form-control" ng-model="paquete.tipoGuia" ng-change="isSobre(paquete.tipoGuia)" ng-disabled="disKilataje"
										required>
										<option>1Kg Sobre Sig Dia</option>
										<option>1Kg Paquete Sig Dia</option>
										<option>11:30 Sig Dia</option>
										<option>11:30 Sobre Sig Dia</option>
										<option>3Kg Sig Dia</option>
										<option>5Kg Terrestre</option>
										<option>10Kg Terrestre</option>
										<option>15Kg Terrestre</option>
										<option>20Kg Terrestre</option>
										<option>25Kg Terrestre</option>
										<option>30Kg Terrestre</option>
										<option>35Kg Terrestre</option>
										<option>40Kg Terrestre</option>
										<option>45Kg Terrestre</option>
										
										</select>
						
						</div>
						
						</div><br>
  <div class="row">
			<div class="col-md-6">
							<label>Guia</label>
								<input class="form-control" id="guia" style="font-size:20px" ng-model="paquete.guia" required ng-disabled="disGuia"  minlength="23" maxlength="23" ng-keyup="maskGuia()">
						</div>
						<div class="col-md-6">
							
								<label>Rastreo</label><input type="number" class="form-control" ng-model="paquete.rastreo" minlength="10" maxlength="10" required>
							</div>
			 </div>
					<div class="row">
						<div class="col-md-6">
						
<!-- 									<br><label> Cliente: </label> -->
<!-- 								<input type="text" class="form-control" id ="Named" ng-model="paquete.cliente" required> -->
							
<!-- 							<br> <label>Cantidad: </label><input type="number" class="form-control" -->
<!-- 								ng-model="paquete.cantidad" required> -->
								 <br>
							<label>Descripcion:</label> <input type="text" class="form-control"
								ng-model="paquete.paquete.descripcion" onkeyup="javascript:this.value=this.value.toUpperCase();" required> <br> 
								<label> Tipo de Paquete: </label><select class="form-control" ng-model="paquete.paquete.tipoPaquete" ng-change="cSobre()"
										required>
										<option></option>
										<option>BOLSA</option>
										<option>CAJA</option>
										<option>IRREGULAR</option>
										<option>SOBRE</option>
										
										</select>
						</div>
						<div class="col-md-6">
<!-- 						<br><label> Domicilio: </label> -->
<!-- 								<input type="text" class="form-control" id ="Named" ng-model="paquete.domicilioCliente"> -->
							<br><label>Tipo de Envio:</label> <select class="form-control" ng-model="paquete.tipoEnvio"
										required>
										<option></option>
										<option>3 a 5 Dias Habibles</option>
										<option>Dia Siguiente</option>
										<option>Serv. 11:30</option>
										<option>Dos Dias</option>
										<option>Serv. Terrestre</option>
										
										</select>
								<br><label>Tipo de Servicio:</label> <select class="form-control" ng-model="paquete.tipoServicio"
										required>
										<option></option>
										<option>NACIONAL</option>
										<option>INTERNACIONAL</option>
										
										</select>
						</div>
					</div>
					<br> <br>
					
				<div ng-hide="hide">
					<div ng-hide="desMedidas">
					<div class="row" >
						
						<div class="col-md-2">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-2 col-form-label">Medidas (cm):</label>

							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Largo </label>
								<div class="col-13">
									<input type="number" step="0.01" class="form-control"
										ng-model="paquete.paquete.largo" ng-required="requerido" ng-change="validaPeso()">
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Ancho </label>
								<div class="col-13">
									<input type="number" step="0.01" class="form-control"
										ng-model="paquete.paquete.ancho" ng-required="requerido" ng-change="validaPeso()">
								</div>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-group ">
								<label for="example-text-input" class="col-2 col-form-label">
									Alto </label>
								<div class="col-13">
									<input type="number" step="0.01" class="form-control"
										ng-model="paquete.paquete.alto" ng-required="requerido" ng-change="validaPeso()">
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group ">
								<label for="example-text-input" class="col-10 col-form-label">
									Peso Volumetrico</label>
								<div class="col-9">
									<input type="number" step="0.01" class="form-control"
										ng-model="pesoVol" readonly>
								</div>
							</div>
						
						</div>
					</div>
					</div>
					</div>
						<div class="row">
								<div class="col-md-3">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-16 col-form-label">Consto de Seguro</label>
								<div class="col-10">
									<input type="number" class="form-control"
										ng-model="paquete.costoSeguro" step="0.01" required>
										{{paquete.costoSeguro | currency}}
								</div>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-10 col-form-label">Peso (kg):</label>
								<div class="col-10">
									<input type="text" class="form-control"
										ng-model="paquete.paquete.peso" ng-required="requerido">
								</div>
							</div>
						</div>
						
						<div class="col-md-3">
							<div class="form-group ">
								<br> <label for="example-text-input"
									class="col-2 col-form-label">Precio</label>
								<div class="col-10">
									<input type="number" class="form-control"
										ng-model="paquete.precio" step="0.01" required>
										{{paquete.precio | currency}}
								</div>
							</div>
						</div>
						
						</div>

  
  
  
  </div>
    <div class="tab">
  <h3 align="center">Remitente</h3>
  <div class="row">
  <div class="col-md-6">
 	 Nombre / Empresa
    <p><input class="input-lg" ng-model="paquete.cliente.nombre" required id="buscaCliente" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-blur="buscaUsuario()"></p>
     En Atencion a
    <p><input class="input-lg" ng-model="paquete.cliente.enAtencion" required onkeyup="javascript:this.value=this.value.toUpperCase();"></p>
    
    CP:
    <p><input class="input-lg" type="number" id="cpR" ng-model="paquete.cliente.codigoPostal" ng-disabled="hide"  ng-keyup="getCP('remitente')" ng-blur="getCP('remitente')"></p>
    Calle
    <p><input class="input-lg"  ng-model="paquete.cliente.calle" onkeyup="javascript:this.value=this.value.toUpperCase();" ng-disabled="hide"></p>
       Numero Ext
    <p><input class="input-lg"  ng-model="paquete.cliente.noExterior"  ng-disabled="hide"></p>
    Numero Int
    <p><input class="input-lg" ng-model="paquete.cliente.noInterior" ng-disabled="hide"></p>
   
     </div>
     <div class="col-md-6">
       Colonia

    <p><select id="slCol" ng-model="paquete.cliente.colonia" class="input-lg" style="width:100%" ng-disabled="hide">
    		<option></option>
			<option ng-repeat="c in colonia" selected>{{c}}</option>
	  </select>
	</p>
     
     Localidad
    <p><input  ng-model="paquete.cliente.localidad" class="input-lg" ng-disabled="hide"></p>
     Municipio
    <p><input ng-model="paquete.cliente.municipio" class="input-lg" ng-disabled="hide" readonly></p>
     Estado
    <p><input ng-model="paquete.cliente.estado" class="input-lg" ng-disabled="hide" readonly></p>
     
    Telefono
    <p><input class="input-lg" ng-model="paquete.cliente.telefono" ng-disabled="hide"></p>
     Referencia
    <p><input class="input-lg" ng-model="paquete.cliente.referencias" ng-disabled="hide" onkeyup="javascript:this.value=this.value.toUpperCase();"></p>
    </div>
  </div>
  </div>
  <div id="delTap" class="tab" ng-hide="hide">
  <h3 align="center">Destinatario</h3>
   <div class="row">
  <div class="col-md-6">
 	 Nombre / Empresa
    <p><input class="input-lg" ng-model="paquete.destinatario.nombre" onkeyup="javascript:this.value=this.value.toUpperCase();" required></p>
     En Antencion a
    <p><input class="input-lg" ng-model="paquete.destinatario.enAtencion" onkeyup="javascript:this.value=this.value.toUpperCase();" required></p>
   
    CP:
    <p><input class="input-lg" id="cpD" ng-model="paquete.destinatario.codigoPostal" ng-keyup="getCP('destinatario')" ng-blur="getCP('remitente')"></p>
     Calle
    <p><input class="input-lg"   ng-model="paquete.destinatario.calle" onkeyup="javascript:this.value=this.value.toUpperCase();"></p>
    Numero Ext
    <p><input class="input-lg"   ng-model="paquete.destinatario.noExterior" required></p>
    Numero Int
    <p><input class="input-lg"  ng-model="paquete.destinatario.noInterior"></p>
   </div>
     <div class="col-md-6">
       Colonia
   
     <p><select ng-model="paquete.destinatario.colonia" class="input-lg" style="width:100%">
     <option disabled></option>
			<option ng-repeat="c in coloniaD" selected>{{c}}</option>
	  </select>
	</p>
     
     Localidad
    <p><input class="input-lg"  ng-model="paquete.destinatario.localidad"></p>
    
     Municipio
    <p><input class="input-lg"  ng-model="paquete.destinatario.municipio" readonly></p>
     Estado
    <p><input class="input-lg" ng-model="paquete.destinatario.estado" readonly></p>
    
     
    
     Telefono
    <p><input class="input-lg" ng-model="paquete.destinatario.telefono"></p>
     Referencia
    <p><input class="input-lg"  ng-model="paquete.destinatario.referencias" onkeyup="javascript:this.value=this.value.toUpperCase();"></p>
     </div>
  </div>
  </div>
  <div class="tab">
  <h3 align="center">Material Extra</h3>
   <div class="row">
			
						<div class="col-md-6">
							<div class="form-group ">
								
								<div class="col-200">
									<input type="text" placeholder="Descripcion" ng-model="addMe" class="form-control" onkeyup="javascript:this.value=this.value.toUpperCase();">
								</div>
							</div>
							</div>
							<div class="col-md-3">
							
							<div class="form-group ">
								
								<div class="col-23">
									<input type="number" placeholder="Cantidad" ng-model="addMe2" class="form-control">
								</div>
							</div>
							</div>
							<div class="col-md-2">
							<div class="form-group ">
								
									<button type=button ng-click="addItem()" class="btn btn-info">Agregar</button>
								
							</div>
							
							
						</div>
						</div>

  
  <div class="w3-container w3-light-grey w3-padding-16">
   
    <p class="w3-text-red">{{errortext}}</p>
  </div>
  
  		<table class="table .table-striped">
			<thead>
				<tr>
					<th>Descripcion</th>
					<th>Cantidad</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="p in products">
					<td>{{p.descripcion}}</td>
					<td>{{p.cantidad}}</td>
					<td><button class="btn btn-small btn-danger" ng-click="removeItem($index)">
							<i class="fa fa-times"></i>
						</button>
					</td>
				</tr>
			</tbody>	
		</table>
  
</div>
  
<!--   <div class="tab"> -->
<!--   <h3 align="center">Resume</h3> -->
<!--   {{paquete | json}} -->
<!--   </div> -->
  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" class="btn btn-info" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
      <button type="button" class="btn btn-info" id="nextBtn" onclick="nextPrev(1)" ng-disabled="disContinuar">Continuar</button>
      <button type="button" class="btn btn-success" id="btnSave" style="display: none" ng-click="savePaquete(paquete)">Guardar</button>
    </div>
  </div>
  <!-- Circles which indicates the steps of the form:-->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
<!--     <span class="step"></span> -->
  </div>
</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal" ng-click="cleanMdl(); ">Cerrar</button>
        </div>
      </div>
    </div></div>
<!--   MODAL ALTA VENTA -->
   <div class="modal fade" id="modalVenta" role="dialog">
<div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          
          <h4 class="modal-title">Nueva Venta</h4>
        </div>
        <div class="modal-body">
             
      
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Folio</label>
            <input class="form-control" type="text"  ng-model="venta.folio" readonly>
          </div>
       
        <div class="form-group">
            <label for="exampleInputEmail1">Fecha</label>
            <input class="form-control" type="date" style="text-align:center;" ng-model="venta.fecha" >
          </div>
          
<!--            <div class="form-group"> -->
<!--             <label for="exampleInputEmail1">Cantidad</label> -->
<!--             <input class="form-control" type="number" min="1"  ng-model="venta.cantidad" > -->
<!--           </div> -->
         
          <div align="center">
          <div class="w-50 p-3" >
          <a class="btn btn-primary btn-block" style="color:white;" ng-click="newVenta()" >Generar</a>
          </div>
          </div>
        </form>

      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
 </div>
<!-- FIN -->
 
<!--   MODAL VER ENVIOS -->
   <div class="modal fade" id="modalEnvios" role="dialog">
<div class="modal-dialog modal-lg">
      <div class="modal-content"  style="width:1024PX; margin-left:0; ">
        <div class="modal-header">
          
          <h4 class="modal-title">Detalle de Venta</h4>
        </div>
        <div class="modal-body">
        <div align="center">
      
      	 <table class="table">
			<thead align="center">
				<tr>
					<th width="15px"></th>
					<th width="75px">Folio</th>
					<th width="75px">Fecha</th>
					<th width="75px">Estatus</th>
					
				</tr>
			</thead>
			<tbody>
			
				<tr class="info" align="center">
					<td></td>
					<td>{{ventaInf.folio}}</td>
					<td>{{ventaInf.fecha | date}}</td>
					<td>{{ventaInf.estatus}} </td>
					
				</tr>
			</tbody>	
		</table>
		</div>
      <br><br>
       <table class="table table-striped table-responsive">
			<thead>
				<tr>
					<th width="15%">Cliente</th>
					<th width="15%">Destinatatio</th>
					<th width="10%">Empresa</th>
					<th width="13%">Guia</th>
					<th width="10%">Rastreo</th>
					<th width="10%">Tipo de Envio</th>
					<th width="8%">Precio</th>
					<th width="10%">Acciones</th>
				</tr>
			</thead>
			<tbody>
			
				<tr ng-repeat="e in envios">
					<td>{{e.cliente.nombre}}</td>
					<td>{{e.destinatario.nombre}}</td>
					<td>{{e.empresa}} </td>
					<td>{{e.guia}}</td>
					<td>{{e.rastreo}}</td>
					<td>{{e.tipoEnvio}}</td>
					<td>{{e.precio | currency}}</td>
					<td>
					<button ng-if="e.empresa=='MERVEL' || e.empresa=='ESTAFETA'" class="btn btn-danger" title="Imprimir" ng-click="showPDFM(e.id)">
							<i class="fa fa-file-pdf-o"></i>
						</button>
					<button class="btn btn-small btn-warning" ng-click="eliminarEnvio(e)">
							<i class="fa fa-times"></i>
						</button>
						
					</td>
				</tr>
			</tbody>	
		</table>

     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
 </div>
<!-- FIN -->
<!--   MODAL FPf -->
   <div class="modal modal-wide fade" id="modalPDF" role="dialog">
<div class="modal-dialog modal-lg ">
   
      <object data="{{url}}" type="application/pdf" height="870" width="850" >
    </object>

    </div>
 </div>
<!-- FIN -->
<!--   MODAL Cancelar Factura -->
   <div class="modal modal-wide fade" id="modalCancelFacct" role="dialog">
<div class="modal-dialog ">
   <div class="modal-content">
   <div class="modal-body">
   		<div align="center"><H3><code>CLICK EN ACEPTAR PARA CANCELAR LA FACTURA</code></H3></div>
   		<br><br>
   <div align="right">
				<button type="button" class="btn btn-danger" ng-click="cancelarFactura()">Aceptar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" >Cerrar</button>
   </div>
	</div>
    </div>
 </div>
 </div>
<!-- FIN -->
<!--   MODAL FACTURA -->
   <div class="modal modal-wide fade" id="modalFactura" role="dialog">
<div class="modal-dialog modal-lg">
      <div class="modal-content">
<!--         <div class="modal-header"> -->
          
<!--           <h4 class="modal-title">Detalle de Venta</h4> -->
<!--         </div> -->
        <div class="modal-body">
        <div class="row">
				<div class="col-md-4">
					<div class="form-group ">
						<label for="example-text-input" class="col-10 col-form-label">M&eacute;todo
							de Pago:</label>
						<div class="col-15">
							<select class="form-control"
								ng-model="factura.metodoPago">
								<option value="PUE">Pago en una sola exhibici&oacute;n</option>
								<option value="PPD">Pago en parcialidades o diferido</option>
							</select>
							<!-- <input class="form-control facInp" type="text" value=""
								id="metodo" name="metodo" ng-model="comprobante.metodoDePago"> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<label for="example-text-input" class="col-10 col-form-label">Forma
						de Pago:</label>
					<div class="col-15">
						<select class="form-control"
							ng-model="factura.formaPago">
							<option value="01">01-Efectivo</option>
							<option value="02">02-Cheque nominativo</option>
							<option value="03">03-Transferencia electr&oacute;nica
								de fondos</option>
							<option value="04">04-Tarjeta de Cr&eacute;dito</option>
							<option value="05">05-Monedero Electr&oacute;nico</option>
							<option value="06">06-Dinero electr&oacute;nico</option>
							<option value="08">08-Vales de despensa</option>
							<option value="28">28-Tarjeta de D&eacute;bito</option>
							<option value="29">29-Tarjeta de Servicio</option>
							<option value="99">99-Por definir</option>
						</select>
						<!-- <input class="form-control facInp" type="text"
							ng-model="comprobante.formaDePago"> -->
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group ">
						<label for="example-text-input" class="col-2 col-form-label">RFC:</label>
						<div class="col-10">
							<input class="form-control " type="text" value="" id="rfc" onkeyup="javascript:this.value=this.value.toUpperCase();"
								ng-model="factura.rfc" name="rfc">
						</div>
					</div>
				</div>
				</div>
						
			<div class="row">
				
				<div class="col-md-6">
					<div class="form-group ">
						<label for="example-text-input" class="col-10 col-form-label">Nombre
							o Raz&oacute;n Social</label>
						<div class="col-16">
							<input class="form-control " type="text" value=""
								id="nombre" name="nombre" ng-model="factura.nombre">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group ">
						<label for="example-text-input" class="col-10 col-form-label">Correo</label>
						<div class="col-16">
							<input type="email" class="form-control " type="text" 
								id="nombre" name="nombre" ng-model="factura.mail">
						</div>
					</div>
				</div>
			</div>
     		<div class="form-group ">
							<label for="example-text-input" class="col-12 col-form-label input-lg">Uso
								de CFDI:</label>
							<div class="col-15">
								<!-- 							<input class="form-control facInp" type="text" value="" -->
								<!-- 								id="condPago" name="condPago" -->
								<!-- 								ng-model="comprobante.receptor.usoCFDI.valor"> -->
								<select class="form-control"
									ng-model="factura.usoCfdi"
									 required>
									<option value="G01">G01-Adquisici&oacute;n de
										mercancias</option>
									<option value="G02">G02-Devoluciones, descuentos o
										bonificaciones</option>
									<option value="G03">G03-Gastos en general</option>
									<option value="I01">I01-Construcciones</option>
									<option value="I02">I02-Mobilario y equipo de oficina
										por inversiones</option>
									<option value="I03">I03-Equipo de transporte</option>
									<option value="I04">I04-Equipo de computo y accesorios</option>
									<option value="I05">I05-Dados, troqueles, moldes,
										matrices y herramental</option>
									<option value="I06">I06-Comunicaciones
										telef&oacute;nicas</option>
									<option value="I07">I07-Comunicaciones satelitales</option>
									<option value="I08">I08-Otra maquinaria y equipo</option>
									<option value="D01" class="nomoral">D01-Honorarios
										m&eacute;dicos, dentales y gastos hospitalarios.</option>
									<option value="D02" class="nomoral">D02-Gastos
										m&eacute;dicos por incapacidad o discapacidad</option>
									<option value="D03" class="nomoral">D03-Gastos
										funerales.</option>
									<option value="D04" class="nomoral">D04-Donativos.</option>
									<option value="D05" class="nomoral">D05-Intereses
										reales efectivamente pagados por cr&eacute;ditos hipotecarios
										(casa habitaci&oacute;n).</option>
									<option value="D06" class="nomoral">D06-Aportaciones
										voluntarias al SAR.</option>
									<option value="D07" class="nomoral">D07-Primas por
										seguros de gastos m&eacute;dicos.</option>
									<option value="D08" class="nomoral">D08-Gastos de
										transportaci&oacute;n escolar obligatoria.</option>
									<option value="D09" class="nomoral">D09-Dep&oacute;sitos
										en cuentas para el ahorro, primas que tengan como base planes
										de pensiones.</option>
									<option value="D10" class="nomoral">D10-Pagos por
										servicios educativos (colegiaturas)</option>
									<option value="P01">P01-Por definir</option>
								</select>
							</div><br>
							<button type="button" class="btn btn-success" ng-click="facturar()" onClick="this.disabled=true">Timbrar</button>
						</div>

     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" >Cerrar</button>
        </div>
      </div>
    </div>
 </div>
</div>	
	</div>

	
	<script>
	var currentTab = 0; // Current tab is set to be the first tab (0)
	showTab(currentTab); // Display the crurrent tab

	function showTab(n) {
	  // This function will display the specified tab of the form...
	  var x = document.getElementsByClassName("tab");
	  x[n].style.display = "block";
	  //... and fix the Previous/Next buttons:
	  if (n == 0) {
	    document.getElementById("prevBtn").style.display = "none";
	    document.getElementById("btnSave").style.display = "none";
	    document.getElementById("nextBtn").style.display = "inline";
	  } else {
	    document.getElementById("prevBtn").style.display = "inline";
	    document.getElementById("btnSave").style.display = "none";
	    document.getElementById("nextBtn").style.display = "inline";
	  }
	  if (n == (x.length - 1)) {
// 	    document.getElementById("nextBtn").innerHTML = "Guardar";
	    document.getElementById("nextBtn").style.display = "none";
	    document.getElementById("btnSave").style.display = "inline";
	  } else {
	    document.getElementById("nextBtn").innerHTML = "Continuar";
	  }
	  //... and run a function that will display the correct step indicator:
	  fixStepIndicator(n)
	}

	function nextPrev(n) {
	  // This function will figure out which tab to display
	  var x = document.getElementsByClassName("tab");
	  // Exit the function if any field in the current tab is invalid:
 	  if (n == 1 && !validateForm()) return false;

	  // Hide the current tab:
	  x[currentTab].style.display = "none";
	  // Increase or decrease the current tab by 1:
	  currentTab = currentTab + n;
	  // if you have reached the end of the form...
	  if (currentTab >= x.length) {
	    // ... the form gets submitted:
// 	    document.getElementById("altaPaquete").submit();
	  
	    return false;
	  }
	  // Otherwise, display the correct tab:
	  showTab(currentTab);
	}

	function validateForm() {
	  // This function deals with validation of the form fields
	  var x, y, i, valid = true;
	  x = document.getElementsByClassName("tab");
	  y = x[currentTab].getElementsByTagName("input");
	  // A loop that checks every input field in the current tab:
	  for (i = 0; i < y.length; i++) {
	    // If a field is empty...
	    if (y[i].value == "") {
	      // add an "invalid" class to the field:
	      y[i].className += " invalid";
	      // and set the current valid status to false
// 	      valid = false;
	    }
	  }
	  // If the valid status is true, mark the step as finished and valid:
	  if (valid) {
	    document.getElementsByClassName("step")[currentTab].className += " finish";
	  }
	  return valid; // return the valid status
	}

	function fixStepIndicator(n) {
	  // This function removes the "active" class of all steps...
	  var i, x = document.getElementsByClassName("step");
	  for (i = 0; i < x.length; i++) {
	    x[i].className = x[i].className.replace(" active", "");
	  }
	  //... and adds the "active" class on the current step:
	  x[n].className += " active";
	}
	</script>


